<html>
<head>
    <title>Domaci 1 - Canvas</title>
    <style>
        .img-holder
        {
            width:700px;
            display:block;
            margin:15px auto 0;
            text-align:center;
        }
        #myCanvas
        {
            margin:0 auto;
            display:block;
        }
        img
        {
            width: 24%;
            display:inline-block;
            box-sizing: border-box;
        }
        .text-editor-holder
        {
            width:700px;
            display:block;
            margin:15px auto 0;
            text-align:center;
            margin-bottom: 20px;
        }
    </style>
    <script>

        var imgToDraw;
        var writeText = false;
        function setImg(img)
        {
            writeText = false;
            if(imgToDraw != null)
            {
                imgToDraw.style.border = "0px";
            }
            imgToDraw = img;
            imgToDraw.style.border = "3px solid blue";
        }

        function setDrawText()
        {
            writeText = true;
        }

        function clearCanvas()
        {
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }

        function drawImage(canvas, img, x, y)
        {
            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, x-75, y-75, 150, 150);
        }

        function drawText(canvas, text, color, size, x, y)
        {
            var ctx = canvas.getContext("2d");
            ctx.font = size+"px Calibri";
            ctx.fillStyle = color;
            ctx.fillText(text, x, y);
        }

    </script>

</head>

<body>
<button onclick="clearCanvas()">Obrisi Sve</button>

<div class="text-editor-holder">
    <p>Tekst se ispisuje ukoliko je polje za unos teksta popunjeno! Ukoliko nije iscrtavaju se slike.</p>
    <input type="text" id="text" onchange="setDrawText()"/>
    <input type="number" id="size" min="1" max="200">
    <select id="color">
        <option value="#000000">Crna</option>
        <option value="#0000ff">Plava</option>
        <option value="#ff0000">Crvena</option>
        <option value="#00ff00">Zelena</option>
    </select>
</div>

<canvas id="myCanvas" width="700" height="500" style="border: 1px solid black;"></canvas>

<div class="img-holder">
    <img src="images/summer.jpg" onclick="setImg(this)"/>
    <img src="images/spring.jpg" onclick="setImg(this)"/>
    <img src="images/autumn.jpg" onclick="setImg(this)"/>
    <img src="images/winter.jpg" onclick="setImg(this)"/>
</div>

<script>

    var canvas = document.getElementById('myCanvas');

    canvas.addEventListener('click', function(evt) {
        var mousePos = getMousePos(canvas, evt);

        else if(imgToDraw != null)
        {
            drawImage(canvas, imgToDraw, mousePos.x, mousePos.y);
        }
    });

</script>
</body>
</html>