<!DOCTYPE html>
<html>
<head>
    <title>Chess</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <video id="bgvid" playsinline autoplay muted loop>
        <source src="/images/back.mp4" type="video/webm">
    </video>

</head>
<body>

<div class="center" style="border-top: none !important;">
    <h1>Registracija</h1>
    <form>

        <div class="form-group">
            <label for="User">Ime:</label>
            <input placeholder="Unesite vaše ime" type="text" class="form-control" id="user">
        </div>

        <div class="form-group">
            <label for="pwd">Email:</label>
            <input placeholder="Unesite vašu mejl adresu" type="email" class="form-control" id="pwd">
        </div>

        <div class="form-group">
            <label for="pwd">Lozinka:</label>
            <input placeholder="Unesite vašu lozinku" type="password" class="form-control" id="pwd">
        </div>

        <div class="form-group">
            <label for="pwd">Ponovi lozinku:</label>
            <input placeholder="Ponovite vašu lozinku" type="password" class="form-control" id="pwd">
        </div>
        <button type="button" class="btn btn-default">Registruj se</button>

</div>

<div class="footer">
    <hr>
    <table class="centerTb">

        <td>
            <p>Created by Nikola Maletić S38/15</p>
        </td>

        <td>
            <audio style="padding: 6px" controls autoplay>
                <source src="/images/Yiruma - River Flows In You.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </td>

    </table>
</div>

</body>
</html>
